@media (min-width: 1500px) {
  .container {
    width: 1440px;
    max-width: 1440px;
    margin-top: 20px;
  }
}

body, html {
  height: 100%;
  width: 100%;
  font-size: 13.5px;
  line-height: 1.5;
  font-family: "Open Sans", Arial, sans-serif;
  color: #333;
  background-color: #e8e8e8 !important;
}

header {
  padding: 20px;
  display: flex;
}
.status-indicator {
  display: flex;
  align-items: center;
}
.spacer {
  flex-grow: 1;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
.yellow {
  background-color: #ffde00;
}

.status-text {
  font-size: 14px;
}


main {
  padding-top: 25px;
}

.placeholder-div {
  height: 25px;
  background-color: #ffde00;
}

.container {
  box-shadow: 0 2px 15px #bfbfbf;
  background-color: white;
}
.main-container {
  padding: 15px;
  background-color: white;
}
  
.logo img {
  height: 50px;
  margin-right: 10px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.accordion {
  margin-top: 20px;
}

.accordion-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
}
.highlight {
  background-color: lightgreen; 
}

.accordion-header h3 {
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.vega-blue {
  background-color: #1267a8;
}

.copy-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
}
.copied {
  color: green; 
}
@keyframes share {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.copy-button.share-animation {
  animation: share 0.5s;
}

.add-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
}


#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#progress-text {
  margin-top: 25px;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #ffde00;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

@keyframes sk-chase {
  100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%, 0% {
    transform: scale(1.0);
  }
}