{% extends "baseTemplate.html" %}

{% block title %}
  SIM Writer
{% endblock %}

{% block extra_css %}
  <style>
    .modal-header {
        background: #ffde00;
        color: #000;
    }
    
    .required:after {
        content: "*";
        color: #155b91;
    }
    input:required:invalid {
      border-color: red;
    }

    input:required:invalid + .invalid-feedback {
      display: block;
      color: red;
    }

    .submit-error-container {
      flex-grow: 1;
      text-align: left;
      padding-right: 10px;
    }
    .btn-primary {
      background-color: #1678c3;
      border-color: #1678c3;
      color: white;
    }
    .btn-secondary {
      background-color: white;
      border-color: #1678c3;
      color: #1678c3;
    }
  </style>
{% endblock %}

{% block headerTitle %}
  SIM Writer
{% endblock %}

{% block statusIndicator %}
  <div class="status-indicator" id="statusIndicator">
    <div class="circle {% if status == SimReaderWriterStatus.NO_CONNECTION %}red{% elif status == SimReaderWriterStatus.READER_CONNECTED  %}yellow{% else %}green{% endif %}"></div>
    <div class="status-text">
      {% if status == SimReaderWriterStatus.NO_CONNECTION %}
        No connection
      {% elif status == SimReaderWriterStatus.READER_CONNECTED  %}
        Reader connected
      {% elif status == SimReaderWriterStatus.SIM_DETECTED %}
        SIM detected
      {% endif %}
    </div>
  </div>
{% endblock %} 

{% block content %}
  <div class="button-container mt-3">
    <button type="button" class="btn btn-primary vega-blue float-end" data-bs-toggle="modal" data-bs-target="#myModal">
        <i class="bi bi-plus-circle-fill"></i> Add profile
    </button>
  </div>
  <div class="accordion" id="myAccordion">
    {% for profile in profiles %}
      {% set mark_as_active = profile.imsi==active_imsi %}
      <div class="accordion-item">
        <h2 class="accordion-header {% if mark_as_active %}highlight{% endif %}" id="heading{{ loop.index }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="false"  aria-controls="collapse{{ loop.index }}">
              IMSI: {{ profile.imsi }} 
              <button class="update-profile-button" type="button" data-imsi="{{ profile.imsi }}">
                  {% if mark_as_active %}
                      <i class="bi bi-check2"></i>
                  {% else %}
                      <i class="bi bi-arrow-down-up"></i>
                  {% endif %}                        
              </button>
            </button>
        </h2>
        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse">
          <div class="accordion-body">
            <div class="profile-info">
              <strong>Name:</strong> {{ profile.name }} <button class="copy-button" onclick="copyToClipboard('{{ profile.name }}', this)" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy Name"><i class="bi bi-clipboard"></i></button><br>
              <strong>IMSI:</strong> {{ profile.imsi }} <button class="copy-button" onclick="copyToClipboard('{{ profile.imsi }}', this)" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy IMSI"><i class="bi bi-clipboard"></i></button><br>
              <strong>KI:</strong> {{ profile.ki }} <button class="copy-button" onclick="copyToClipboard('{{ profile.ki }}', this)" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy KI"><i class="bi bi-clipboard"></i></button><br>
              <strong>OPC:</strong> {{ profile.opc }} <button class="copy-button" onclick="copyToClipboard('{{ profile.opc }}', this)" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy OPC"><i class="bi bi-clipboard"></i></button><br>
            </div>
          </div>
        </div>  
      </div>    
    {% endfor %}
  </div> 
{% endblock %}

{% block modals %}
  <div class="modal" id="myModal">
    <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Add a sim profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <form id="simProfileForm" action="submitForm">
                  <div class="mb-3">
                    <label class="form-label required">Network name</label>
                    <input id="nameInput" type="text" class="form-control" name="name" oninput="return validateProfileForm()">
                    <small id="nameError" class="text-danger"> </small>
                  </div>
                  <div class="mb-3">
                      <label class="form-label required">IMSI</label>
                      <input id="imsiInput" type="text" class="form-control" name="imsi" oninput="return validateProfileForm()">
                      <small id="imsiError" class="text-danger"> </small>
                    </div>
                  <div class="mb-3">
                      <label class="form-label required">KI</label>
                      <input id="kiInput" type="text" class="form-control" name="ki" oninput="return validateProfileForm()">
                      <small id="kiError" class="text-danger"> </small>
                  </div>
                  <div class="mb-3">
                      <label class="form-label required">OPC</label>
                      <input id="opcInput" type="text" class="form-control" name="opc" oninput="return validateProfileForm()">
                      <small id="opcError" class="text-danger"> </small>
                  </div>                
                </form>                             
              </div>
              <div class="modal-footer">
                <div class="submit-error-container">
                  <small id="submitError" class="text-danger"></small>
                </div>
                <button type="submit" class="btn btn-primary" onclick="submitProfileForm()">Submit</button>
                <button type="cancel" class="btn btn-secondary" data-bs-dismiss="modal" onclick="resetProfileForm()">Cancel</button>
              </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
